@font-face {
  font-family: chosence_light;
  src: url(assets/chosence_light.otf); }

@font-face {
  font-family: avenir;
  src: url(assets/avenir.ttc); }

html {
  height: 100%; }

body {
  height: 100%;
  background-image: url("assets/images/darkerbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  color: white !important;
  padding: 0px;
  background-color: black !important; }

header {
  display: block; }

section {
  display: block; }

footer {
  display: block; }

aside {
  display: block; }

nav {
  display: block; }

main {
  display: block; }

article {
  display: block; }

figure {
  display: block; }

a {
  color: white !important;
  text-decoration: none !important;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out; }
  a:hover {
    color: #ede00a !important;
    text-decoration: none !important; }

#about p {
  font-family: avenir, Arial;
  font-size: 20px;
  margin-top: 20px; }

.nav {
  height: 70px;
  font-family: chosence_light, Arial; }
  .nav span {
    color: white; }

.navbar-collapse.in {
  overflow-y: none !important;
  height: 76px !important;
  position: absolute;
  width: 100%;
  left: -15px;
  display: block !important; }

#navlogo {
  height: 70px;
  text-align: center; }

#logo {
  width: 100px;
  position: relative;
  top: 10px; }

.content ul {
  list-style-type: none; }

#github_logo {
  width: 130px;
  margin-top: 10px; }

.success {
  color: #00ff33; }

.error {
  color: red; }

#linkedin_logo {
  width: 90px;
  margin-top: 30px; }

@media only screen and (max-width: 767px) {
  #skills_h2 {
    border-bottom: 1px solid #ede00a;
    width: 65px;
    margin: 10px auto 10px; }
  .language_logos img {
    width: 15%;
    margin-bottom: 10px; }
  .navbar-toggle {
    border: 1px solid white !important;
    position: relative;
    top: -35px; }
    .navbar-toggle .icon-bar {
      border: 1px solid white; }
  #navlinks {
    height: 70px; }
  .nav ul {
    height: 50px;
    font-size: 20px;
    margin: 0px;
    padding: 0px; }
    .nav ul li {
      float: left;
      list-style-type: none;
      height: 50px;
      line-height: 50px;
      width: 25%;
      text-align: center;
      display: inline-block; }
  body {
    background-size: 207%; }
  .container-fluid {
    width: 100%;
    font-family: avenir, Arial !important; }
  .content {
    text-align: center;
    margin: 50px auto 0px !important; }
  #trav_index_logo {
    width: 100%; }
  .heading {
    width: 190px;
    margin-top: 20px; }
  #left_index {
    max-width: 400px;
    margin: auto !important; }
    #left_index p {
      text-align: center;
      font-family: avenir, Arial, Arial;
      font-size: 25px;
      margin-left: 18px; }
  #index_pics {
    width: 100%;
    border: 1px solid #ede00a; }
  .rslides1 {
    margin: auto;
    margin: auto;
    position: relative;
    position: relative;
    right: 17px;
    right: 17px; }
  #right_index {
    margin: auto; }
  #in #right_index {
    max-width: 400px;
    margin: auto !important; }
  #quote {
    font-family: avenir, Arial; }
    #quote p {
      color: #ede00a;
      font-size: 17px; }
  blockquote {
    font-size: 25px;
    font-style: italic;
    border: none !important;
    margin: 5px auto 0px !important; }
  #logos img {
    width: 200px; }
  .link_column p {
    font-family: avenir, Arial;
    margin: 0px auto 0px; }
  .link_column img {
    border: 1px solid #ede00a;
    width: 100%;
    margin-top: 10px; }
    .link_column img:hover {
      opacity: 0.5; }
  .link_title {
    border: none !important;
    width: 100%;
    max-width: 350px; }
  .contact {
    font-size: 17px; }
  #contact_form {
    text-align: initial;
    margin: auto;
    width: 100%;
    max-width: 500px; }
    #contact_form input {
      width: 100%;
      max-width: 500px;
      height: 50px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ede00a;
      margin-bottom: 10px; }
    #contact_form textarea {
      width: 100%;
      max-width: 500px;
      height: 102px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ede00a; }
  #form_buttons {
    text-align: center; }
    #form_buttons input {
      width: 100px;
      height: 50px;
      background-color: transparent;
      border: 1px solid #ede00a;
      color: white; }
  #footer {
    margin-top: 10px;
    font-family: avenir, Arial;
    font-size: 10px; } }

@media only screen and (min-width: 768px) {
  #skills_h2 {
    border-bottom: 1px solid #ede00a;
    width: 65px;
    margin: 0px auto 10px; }
  .language_logos img {
    width: 9%;
    margin-bottom: 10px; }
  #navlinks {
    height: 70px; }
  .nav ul {
    float: right;
    height: 50px;
    font-size: 20px;
    position: relative;
    top: 10px; }
    .nav ul li {
      float: left;
      list-style-type: none;
      margin-right: 30px;
      height: 50px;
      line-height: 50px; }
  .container-fluid {
    font-family: avenir, Arial !important; }
  .content {
    text-align: center;
    margin: 50px auto 0px !important; }
  #trav_index_logo {
    width: 100%; }
  #index_info {
    width: 734px;
    margin: auto; }
  .heading {
    width: 190px; }
  #left_index {
    max-width: 400px;
    margin: auto !important; }
    #left_index p {
      text-align: left;
      font-family: avenir, Arial;
      font-size: 25px;
      margin-left: 18px; }
  #index_pics {
    width: 100px;
    border: 1px solid #ede00a; }
  #right_index {
    margin: auto;
    max-width: 400px;
    margin: auto !important; }
    #right_index img {
      width: 315px;
      position: relative;
      right: 39px; }
  #quote {
    font-family: avenir, Arial; }
    #quote p {
      color: #ede00a;
      font-size: 17px;
      margin-top: -10px;
      margin-left: 353px; }
  blockquote {
    font-size: 25px;
    font-style: italic;
    border: none !important;
    margin: 10px auto 0px !important;
    text-align: justify;
    width: 600px; }
  #espn_logo {
    width: 150px;
    position: relative;
    top: 25px; }
  #nfl_network_logo {
    width: 150px; }
  #niners_logo {
    width: 140px; }
  #ncredible_logo {
    width: 130px; }
  .link_column {
    text-align: center;
    font-family: avenir, Arial;
    width: 33%; }
    .link_column img {
      border: 1px solid #ede00a;
      width: 100%;
      max-width: 300px;
      display: block;
      margin: auto; }
    .link_column a:hover {
      opacity: 0.5; }
    .link_column h3 {
      font-size: 18px;
      color: #ede00a; }
    .link_column p {
      margin: 0px auto 0px; }
  .link_title {
    height: 40px;
    width: 262px !important;
    border: none !important; }
  .contact {
    font-size: 20px; }
  #contact_form {
    text-align: initial;
    margin: auto;
    width: 500px; }
    #contact_form input {
      width: 500px;
      height: 50px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ede00a;
      margin-bottom: 10px; }
    #contact_form textarea {
      width: 500px;
      height: 200px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ede00a; }
  #form_buttons {
    text-align: center; }
    #form_buttons input {
      width: 100px;
      height: 50px;
      background-color: transparent;
      border: 1px solid #ede00a;
      color: white; }
  #footer {
    margin-top: 20px;
    font-family: avenir, Arial;
    font-size: 10px; } }
